server:
  port: 84

spring:
  application:
    name: cloudalibaba-consumer-order
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:8085
        port: 8719 # 默认端口为8719，若端口被占用，则会+1向后扫描可用的端口

feign:
  sentinel:
    enabled: true # 开启feign整合sentinel


management:
  endpoints:
    web:
      exposure:
        include: "*"

