server:
  port: 9001

spring:
  application:
    name: cloudalibaba-provider-payment
  # 配置数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource  # 当前数据源操作类型
    driver-class-name: org.gjt.mm.mysql.Driver  # mysql驱动包
    username: root
    password: mysql
    url: jdbc:mysql://localhost:3306/cloud_payment_service?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
  cloud:
    nacos: # ali nacos 配置
      discovery:
        #server-addr: localhost:8848
        server-addr: localhost:80 # 使用nginx代理nacos集群地址

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml # mapper文件路径
  type-aliases-package: com.rhythm.entities # 所有Entity别名类所在包

management:
  endpoints:
    web:
      exposure:
        include: "*"
